@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>Aplicación Razor</h1>
<p id="mensaje-recibido"></p>

<div class="container">

    <iframe id="angular-frame" title="angular content" src="/angular" style="border: none;"></iframe>

	<button onclick="sendMessageToAngular()">Enviar Mensaje a Angular</button>
	<button onclick="hidenIframe()">Ocultar</button>
	<button onclick="visibleIframe()">Visible</button>

</div>
<script>
    // document.addEventListener("DOMContentLoaded", function () {
    //     document.getElementById('angular-frame').src = "https://localhost:4200/";
    // });

    window.addEventListener("message", function (event) {
        if (event.data.type === "update") {
            document.getElementById("mensaje-recibido").innerText = "Mensaje de Angular: " + event.data.data;
        }
    });

    function sendMessageToAngular() {
        console.log("sendMessageToAngular");
        const iframe = document.getElementById("angular-frame").contentWindow;
        iframe.postMessage({ type: "update", data: "¡Hola desde Razor!" }, "*");
    };

    function hidenIframe() {
        const iframe = document.getElementById("angular-frame");
        iframe.style.display = "none";
    }

    function visibleIframe() {
        const iframe = document.getElementById("angular-frame");
        iframe.style.display = "block";
    }
</script>