@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<iframe id="angular-frame" title="angular content" src="/angular/mypage" style="border: none;"></iframe>
