@page
@model Weatherforecast
@{
    ViewData["Title"] = "Weather Forecast";
}
<h1>@ViewData["Title"]</h1>

<iframe id="angular-frame" title="angular content" src="/angular/weatherforecast" style="border: none;"></iframe>
